# Ignore virtual environments
venv*/
.env
.env.*

# Ignore configuration and logs
config/
logs/

# Python-specific ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# IDEs/editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db